<% if Setting.plugin_redmine_cas['enabled'] %>
  <p style="text-align:center;">
  <strong>
    <%= link_to("Login with CAS", :controller => "account", :action => "cas", :ref => url_for(:controller => "my", :action => 'page', :only_path => true)) %>
  </strong>
  </p>
<% end %>
